#AddProject{
  .addProject {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
    margin: 0 auto;
    height: 800px;
    button {
      width: 100px;
      margin: 0 auto;
    }
  }
}