#ProjectsList{
  padding: 0 15%;
  ul {
    margin-top: 10px;
    li{
      padding: 10px;
      .li-content{
        border: 1px solid rgb(241, 241, 241);
        height: 210px;
        padding: 0;
        // margin: 10px;
        // box-sizing: border-box;
        // background-clip: padding-box;
        a{
          text-decoration: none;
          .image{
            background-color: rgb(241, 241, 241);
            width: 100%;
            height: 150px;
            object-fit: cover;
          }
          .content{
              color:black;
              padding: 5px 10px;
              p{
                margin-bottom:0;
              }
              .top-content{
                text-align: left;
              }
              .bottom-content{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
              }
          }
        }
      }
    }
  }
}