#ProjectHeader{
  padding: 50px;
  .container{
    display: flex;
    flex-wrap: wrap;
    .project-details{
      text-align: left;
    }
    .project-image{
      .big-img{
        width: 100%;
      }
    }
  }
}