$lightblue : #00b4fe;
$darkblue : #2d354c;
$pink : rgba(236,58,53,.6);
$darkgrey : rgba(45,53,76,.4);
$lightgrey : #f8f8f8;

#ProjectHeader{
  padding: 0 10%;
  .row1{
    margin : 50px 0;
    a{
      color: black;
      text-decoration: underline;
    }
    .project-details{
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .type, .creatorInfo li{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;
        p{margin: 0;}
        .creator-links{
          display: flex;
          align-items: center;
          margin-bottom: 2px;
          a{
            margin-left: 10px;
            .socialmedias{
              height: 20px;
            }
          }
        }
      }
      .type{
        margin : 15px 0;
      }
      .creatorInfo{
        margin: 0;
      }
      .tools, .link {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin-bottom: 10px;
          .h6{
            line-height: 1.5;
          }
          p{
            margin-bottom: 0;
          }
          ul{
            margin: 0 5px;
            li{
              display: inline-block;
            }
          }
          @media (max-width:767px){
            justify-content: space-between;
          }
      }
      .space{
        margin-left: 5px;
      }
    }
    .project-image{
      .big-img{
        width: 100%;
        min-height: 330px;
        object-fit: cover;
      }
      @media (max-width:991px){
        margin-top: 30px;
      }
    }
  }
}